<div class="row">


	<div class="col-sm">
		<input ng-model="searchInput" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
		</div>
		<div class="col-sm ">
			<button type="button " class="btn btn-success " ng-click="onSearch() ">Find</button>
		</div>
	</div>
	  <div class="row ">
		<div class="col-sm ">
				<div ng-if="loading " class="loader centered "></div>
				<table ng-if="!loading " class="table ">
				  <thead>
					<tr>
					  <th scope="col ">Repo name</th>
					  <th scope="col ">avatar</th>
					  <th scope="col ">Favorite</th>
					</tr>
				  </thead>
				  <tbody>
					<tr ng-repeat="item in myWelcome ">
					  <td>{{item.name}}</td>
							<td>
							<img src="{{item.owner.avatar_url}} " height="80 " width="80 "></td>
					  <th scope="row "> <button type="button " class="btn btn-primary " ng-click="addToFavorite(item.name) ">Add</button></th>
					</tr>
				  </tbody>
				</table>

		</div>
	</div>
  </div>